<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.1" name="my.custom.log4j">
   <resources>
       <resource-root path="log4j-1.2.8.jar"/>
       <resource-root path="conf"/>
       <resource-root path="utility_JAR.jar"/>

   </resources>
   <dependencies>
       <module name="javax.api"/>
       <module name="org.dom4j" optional="true"/>
   </dependencies>
</module>
